<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>HappyNotez.org</title>
</head>
<body style="font-family: sans-serif">
	<img src="/img/hn.gif" alt=":]" />
	<h1>Thank you!</h1>
	<p>The link to your note is <a href="/@Model">http://happynotez.org/@Model</a>, feel free to share it!</p>

	<img src="/n/t@(Model).jpg" />

	<h2>Archive</h2>
	<p>Interested what others have found? Check the <a href="/mobile/archive">archive</a>.</p>
	<p>&nbsp;</p>
	<p style="font-size: smaller">See the <a href="/home/@Model">desktop version</a> with a map instead.</p>
</body>
</html>